*.iml
.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/daemon
/jdks
/kotlin-profile
/native
/wrapper
/.gradle
/.tmp
/android
/caches
/Gridle_for_Android_studio
/app-debug.apk
/Realise.apk
/app/Realise.apk
/.idea/codeStyles
